### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [67]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
heroes_purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(heroes_purchase_data)

In [149]:
#Verify the data frame
#purchase_data_df.head()

## Player Count

* Display the total number of players

In [69]:
PlayerCount = len(pd.unique(purchase_data_df['SN']))

print(f'Player Count: {PlayerCount}')

Player Count: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [151]:
UniqueItems = len(pd.unique(purchase_data_df['Item Name']))

#print(f'Unique Items: {UniqueItems}')

In [152]:
AveragePrice = purchase_data_df['Price'].mean()

#print(f'Average Price: {AveragePrice}')

In [153]:
AmountOfPurchases = len(purchase_data_df['Purchase ID'])

#print(f'Amount of Purchases: {AmountOfPurchases}')

In [154]:
TotalSales = purchase_data_df['Price'].sum()

#print(f'Total Sales: {TotalSales}')

In [155]:
purchase_summary_df = pd.DataFrame({
    "Unique Items":[UniqueItems], 
    "Average Price":[AveragePrice], 
    "Amount of Purchases":[AmountOfPurchases], 
    "Total Sales":[TotalSales]})
purchase_summary_df

   Unique Items  Average Price  Amount of Purchases  Total Sales
0           179       3.050987                  780      2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [206]:
unique_users_g = purchase_data_df.groupby(['SN']).first()

In [207]:
gender_count_df = unique_users_g['Gender'].value_counts()
gender_percentage_df = (unique_users_g['Gender'].value_counts()/unique_users_g['Gender'].value_counts().sum())


gender_summary_df = pd.DataFrame({"Total Count: ":gender_count_df,
                                "Percentage of Players: ":gender_percentage_df})
#gender_count_df
#gender_percentage_df
gender_summary_df

                       Total Count:   Percentage of Players:
Male                             484                 0.840278
Female                            81                 0.140625
Other / Non-Disclosed             11                 0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [197]:
#Pull the columns needed for analysis
gender_purchase_data_df  = purchase_data_df.groupby(['Gender'])

UniqueUsers = gender_purchase_data_df['SN'].nunique()
GenderCount = gender_purchase_data_df['Gender'].count()
GenderAveragePrice = gender_purchase_data_df['Price'].mean()
GenderTotalSales = gender_purchase_data_df['Price'].sum()
AvgPurchacePerPerson = GenderTotalSales / UniqueUsers


gender_analysis = pd.DataFrame({
    "Purchase Count":GenderCount, 
    "Average Price":GenderAveragePrice, 
    "Total Purchase Value":GenderTotalSales, 
    "Avg Total Purchase per Person":AvgPurchacePerPerson})

gender_analysis

,Purchase Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [84]:
age_bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,200]

player_ages = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [104]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_bins, labels=player_ages, include_lowest=True)
#purchase_data_df

In [102]:
#age_range_df = purchase_data_df['SN'].unique()
age_range_count = purchase_data_df['Age Range'].value_counts()
age_range_percent = (purchase_data_df['Age Range'].value_counts()/purchase_data_df['Age Range'].value_counts().sum())

#age_range_percent
#age_range_df

In [159]:
age_range_df = pd.DataFrame({"Total Count: ":age_range_count,
                                "Percentage of Players: ":age_range_percent})
age_range_df.sort_index()

       Total Count:   Percentage of Players:
<10               23                 0.029487
10-14             28                 0.035897
15-19            136                 0.174359
20-24            365                 0.467949
25-29            101                 0.129487
30-34             73                 0.093590
35-39             41                 0.052564
40+               13                 0.016667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
#purchase_data_df.head()

In [114]:
#Pull the columns needed for analysis
age_range_df  = purchase_data_df.groupby(['Age Range'])

AgeRangeUniqueUsers = age_range_df['SN'].nunique()
AgeRangeUniqueCount = AgeRangeUniqueUsers.count()
AgeRangeCount = age_range_df['Age Range'].count()
AgeRangeAveragePrice = age_range_df['Price'].mean()
AgeRangeTotalSales = age_range_df['Price'].sum()
AgeRangeAvgPurchace = AgeRangeTotalSales / AgeRangeCount


age_analysis = pd.DataFrame({
    "Purchase Count":AgeRangeCount, 
    "Average Price":AgeRangeAveragePrice, 
    "Total Purchase Value":AgeRangeTotalSales, 
    "Avg Total Purchase per Person":AgeRangeAvgPurchace}, index=player_ages)

age_analysis

,Purchase Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [120]:
top_spenders_df = purchase_data_df.groupby(['SN'])

TopSpendersCount = top_spenders_df['SN'].count()
TopSpendersAveragePrice = top_spenders_df['Price'].mean()
TopSpendersTotalSales = top_spenders_df['Price'].sum()
TopSpendersAvgPurchace = TopSpendersTotalSales / TopSpendersCount

top_spenders_analysis_df = pd.DataFrame({
    "Purchase Count":TopSpendersCount, 
    "Average Price":TopSpendersAveragePrice, 
    "Total Purchase Value":TopSpendersTotalSales})

top_spenders_analysis_df = top_spenders_analysis_df.sort_values("Total Purchase Value", ascending=False)

top_spenders_analysis_df.head(5)

             Purchase Count  Average Price  Total Purchase Value
SN
Lisosia93                 5       3.792000                 18.96
Idastidru52               4       3.862500                 15.45
Chamjask73                3       4.610000                 13.83
Iral74                    4       3.405000                 13.62
Iskadarya95               3       4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [165]:
item_df = purchase_data_df[['Item ID','Item Name','Price']]

most_popular_df = item_df.groupby(['Item ID'])

ItemName = most_popular_df['Item Name'].first()
MostPopularCount = most_popular_df['Item ID'].count()
MostPopularAveragePrice = most_popular_df['Price'].mean()
MostPopularTotalSales = most_popular_df['Price'].sum()

most_popular_analysis_df = pd.DataFrame({
    "Item Name":ItemName,
    "Purchase Count":MostPopularCount, 
    "Average Price":MostPopularAveragePrice, 
    "Total Purchase Value":MostPopularTotalSales})

most_popular_analysis_df = most_popular_analysis_df.sort_values("Purchase Count", ascending=False)

most_popular_analysis_df.head(5)

,Item Name,Purchase Count,Average Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [135]:
most_popular_analysis_df = most_popular_analysis_df.sort_values("Total Purchase Value", ascending=False)

most_popular_analysis_df.head(5)

         Purchase Count  Average Price  Total Purchase Value
Item ID
92                   13       4.614615                 59.99
178                  12       4.230000                 50.76
82                    9       4.900000                 44.10
145                   9       4.580000                 41.22
103                   8       4.350000                 34.80