### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
heroes_purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(heroes_purchase_data)

In [2]:
#Verify the data frame
#purchase_data_df.head()

## Player Count

* Display the total number of players

In [3]:
PlayerCount = len(pd.unique(purchase_data_df['SN']))

print(f'Player Count: {PlayerCount}')

Player Count: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
UniqueItems = len(pd.unique(purchase_data_df['Item Name']))

#print(f'Unique Items: {UniqueItems}')

In [5]:
AveragePrice = purchase_data_df['Price'].mean()

#print(f'Average Price: {AveragePrice}')

In [6]:
AmountOfPurchases = len(purchase_data_df['Purchase ID'])

#print(f'Amount of Purchases: {AmountOfPurchases}')

In [7]:
TotalSales = purchase_data_df['Price'].sum()

#print(f'Total Sales: {TotalSales}')

In [8]:
purchase_summary_df = pd.DataFrame({
    "Unique Items":[UniqueItems], 
    "Average Price":[AveragePrice], 
    "Amount of Purchases":[AmountOfPurchases], 
    "Total Sales":[TotalSales]})

purchase_summary_formatted = purchase_summary_df.copy()

purchase_summary_formatted['Average Price'] = purchase_summary_formatted['Average Price'].map('${:.2f}'.format)
purchase_summary_formatted['Total Sales'] = purchase_summary_formatted['Total Sales'].map('${:.2f}'.format)


purchase_summary_formatted

   Unique Items Average Price  Amount of Purchases Total Sales
0           179         $3.05                  780    $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
unique_users_g = purchase_data_df.groupby(['SN']).first()

In [10]:
gender_count_df = unique_users_g['Gender'].value_counts()
gender_percentage_df = (unique_users_g['Gender'].value_counts()/unique_users_g['Gender'].value_counts().sum())


gender_summary_df = pd.DataFrame({"Total Count: ":gender_count_df,
                                "Percentage of Players: ":gender_percentage_df})
#gender_count_df
#gender_percentage_df

gender_demographics_formatted = gender_summary_df.copy()

gender_demographics_formatted['Percentage of Players: '] = gender_demographics_formatted['Percentage of Players: '].map('{:.2%}'.format)

gender_demographics_formatted.sort_index()

                       Total Count:  Percentage of Players:
Female                            81                  14.06%
Male                             484                  84.03%
Other / Non-Disclosed             11                   1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
#Pull the columns needed for analysis
gender_purchase_data_df  = purchase_data_df.groupby(['Gender'])

UniqueUsers = gender_purchase_data_df['SN'].nunique()
GenderCount = gender_purchase_data_df['Gender'].count()
GenderAveragePrice = gender_purchase_data_df['Price'].mean()
GenderTotalSales = gender_purchase_data_df['Price'].sum()
AvgPurchacePerPerson = GenderTotalSales / UniqueUsers


gender_analysis = pd.DataFrame({
    "Purchase Count":GenderCount, 
    "Average Price":GenderAveragePrice, 
    "Total Purchase Value":GenderTotalSales, 
    "Avg Total Purchase per Person":AvgPurchacePerPerson})

gender_analysis_formatted = gender_analysis.copy()

gender_analysis_formatted['Avg Total Purchase per Person'] = gender_analysis_formatted['Avg Total Purchase per Person'].map('${:.2f}'.format)
gender_analysis_formatted['Average Price'] = gender_analysis_formatted['Average Price'].map('${:.2f}'.format)
gender_analysis_formatted['Total Purchase Value'] = gender_analysis_formatted['Total Purchase Value'].map('${:.2f}'.format)


gender_analysis_formatted

,Purchase Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
age_bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,200]

player_ages = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [13]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], age_bins, labels=player_ages, include_lowest=True)
#purchase_data_df

In [14]:
unique_users_g = purchase_data_df.groupby(['SN']).first()

age_count_df = unique_users_g['Age Range'].value_counts()
age_percentage_df = (unique_users_g['Age Range'].value_counts()/unique_users_g['Age Range'].value_counts().sum())


age_range_summary_df = pd.DataFrame({"Total Count: ":age_count_df,
                                "Percentage of Players: ":age_percentage_df})

age_range_summary_formatted = age_range_summary_df.copy()

age_range_summary_formatted['Percentage of Players: '] = age_range_summary_formatted['Percentage of Players: '].map('{:.2%}'.format)

age_range_summary_formatted.sort_index()

       Total Count:  Percentage of Players:
<10               17                   2.95%
10-14             22                   3.82%
15-19            107                  18.58%
20-24            258                  44.79%
25-29             77                  13.37%
30-34             52                   9.03%
35-39             31                   5.38%
40+               12                   2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#purchase_data_df.head()

In [16]:
#Pull the columns needed for analysis
age_range_df  = purchase_data_df.groupby(['Age Range'])

AgeRangeUniqueUsers = age_range_df['SN'].nunique()
AgeRangeUniqueCount = AgeRangeUniqueUsers.count()
AgeRangeCount = age_range_df['Age Range'].count()
AgeRangeAveragePrice = age_range_df['Price'].mean()
AgeRangeTotalSales = age_range_df['Price'].sum()
AgeRangeAvgPurchace = AgeRangeTotalSales / AgeRangeUniqueUsers


age_analysis = pd.DataFrame({
    "Purchase Count":AgeRangeCount, 
    "Average Price":AgeRangeAveragePrice, 
    "Total Purchase Value":AgeRangeTotalSales, 
    "Avg Total Purchase per Person":AgeRangeAvgPurchace}, index=player_ages)

age_analysis_formatted = age_analysis.copy()

age_analysis_formatted['Avg Total Purchase per Person'] = age_analysis_formatted['Avg Total Purchase per Person'].map('${:.2f}'.format)
age_analysis_formatted['Average Price'] = age_analysis_formatted['Average Price'].map('${:.2f}'.format)
age_analysis_formatted['Total Purchase Value'] = age_analysis_formatted['Total Purchase Value'].map('${:.2f}'.format)


age_analysis_formatted

,Purchase Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
top_spenders_df = purchase_data_df.groupby(['SN'])

TopSpendersCount = top_spenders_df['SN'].count()
TopSpendersAveragePrice = top_spenders_df['Price'].mean()
TopSpendersTotalSales = top_spenders_df['Price'].sum()
TopSpendersAvgPurchace = TopSpendersTotalSales / TopSpendersCount

top_spenders_analysis_df = pd.DataFrame({
    "Purchase Count":TopSpendersCount, 
    "Average Price":TopSpendersAveragePrice, 
    "Total Purchase Value":TopSpendersTotalSales})

top_spenders_analysis_df = top_spenders_analysis_df.sort_values("Total Purchase Value", ascending=False)

top_spenders_analysis_formatted = top_spenders_analysis_df.copy()

top_spenders_analysis_formatted['Average Price'] = top_spenders_analysis_formatted['Average Price'].map('${:.2f}'.format)
top_spenders_analysis_formatted['Total Purchase Value'] = top_spenders_analysis_formatted['Total Purchase Value'].map('${:.2f}'.format)

top_spenders_analysis_formatted.head(5)

             Purchase Count Average Price Total Purchase Value
SN
Lisosia93                 5         $3.79               $18.96
Idastidru52               4         $3.86               $15.45
Chamjask73                3         $4.61               $13.83
Iral74                    4         $3.40               $13.62
Iskadarya95               3         $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
item_df = purchase_data_df[['Item ID','Item Name','Price']]

most_popular_df = item_df.groupby(['Item ID'])

ItemName = most_popular_df['Item Name'].first()
MostPopularCount = most_popular_df['Item ID'].count()
MostPopularAveragePrice = most_popular_df['Price'].mean()
MostPopularTotalSales = most_popular_df['Price'].sum()

most_popular_analysis_df = pd.DataFrame({
    "Item Name":ItemName,
    "Purchase Count":MostPopularCount, 
    "Average Price":MostPopularAveragePrice, 
    "Total Purchase Value":MostPopularTotalSales})

most_popular_analysis_df = most_popular_analysis_df.sort_values("Purchase Count", ascending=False)

most_popular_formatted = most_popular_analysis_df.copy()

most_popular_formatted['Average Price'] = most_popular_formatted['Average Price'].map('${:.2f}'.format)
most_popular_formatted['Total Purchase Value'] = most_popular_formatted['Total Purchase Value'].map('${:.2f}'.format)

most_popular_formatted.head(5)

,Item Name,Purchase Count,Average Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [19]:
most_profitable_analysis_df = most_popular_analysis_df.sort_values("Total Purchase Value", ascending=False)

most_profitable_formatted = most_profitable_analysis_df.copy()

most_profitable_analysis_df = most_popular_analysis_df.sort_values("Total Purchase Value", ascending=False)

most_profitable_formatted['Average Price'] = most_profitable_formatted['Average Price'].map('${:.2f}'.format)
most_profitable_formatted['Total Purchase Value'] = most_profitable_formatted['Total Purchase Value'].map('${:.2f}'.format)

most_profitable_formatted.head(5)

,Item Name,Purchase Count,Average Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80